.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/codeStyles
.DS_Store
/build
*.iml
#.idea/vcs.xml
hs_err_*.log

#https://github.com/github/gitignore/blob/master/Android.gitignore
# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/misc.xml

